*{
   margin:0;
   padding:0;
   box-sizing:border-box 
}
#add-to-cart-btn{
	/* background-color:blue; */
	color:white;
	display:flex;
	margin:100px auto;
	justify-content: center;
	cursor:pointer;
}
button{
	font-size:1rem;
	color:white;
	background-color:blue;
	padding: 15px;
	margin:30px;

}

button:hover{
	font-size:1.5rem;
	background-color:green;

}
button:active{
	/* shrink:scale(0.95); */
	display:flex;
	justify-content:center;
	margin:50px auto;
	padding:30px;
}