*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.outerdiv{
    border: 1px solid black;
    margin: 30px auto;
}

.innerdiv{
    width: 90%;
    height: 90%;
    border: 1px solid black;
    padding: 10px;
    margin: 40px;
}

h1{
    /* width: 90%;
    height: 90%; */
    border: 1px solid rgb(15, 11, 11);
    margin: 30px;
}