*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
}
