tabel{
    border-collapse: collapse;
    text-align: center;

}



h1{
    /* text-align:center; */
    color: rgb(208, 55, 4);
}

tr{
    
    font-weight:bold;

}

th{
    background-color:rgb(230, 140, 98);
    border: 2px;
    padding: 10;
}

td{
    background-color: rgb(239, 183, 53);
}


