h1{
    text-align: center;

}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
}

#card{
    text-align: center;
    border: 2px dotted;
    border-radius: 40px;
    width:350px;
    height: 580px;
    background-color: rgb(230, 236, 241);
   
}

#Details p{
 padding-left: 90px;
 margin-bottom: 20px;
 text-align:initial;
 line-height: 10px;
}
#sticker img{
   position:absolute;
   top: 30px;
   bottom: 15px;
    width: 70px;
    height: 60px;
    display: block;
    margin:0 auto 20px;

}

#para{
    line-height:10px;
}