p{
   color:green;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:30px;
   font-weight:bold;
   text-align: center;
   text-decoration: underline;
   text-transform: capitalize;
   line-height: 50px;
   padding: 50px 100px;
   border: 5px dashed black;
   margin: 23px 30px;
   
}
    














































