*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
    padding: 50px;
}



.container{
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    justify-content: space-between;

}
.title{
    margin-bottom: 10px;
    padding: 10px;
}

nav{
    display: flex;
    gap:50px;
    font-size: 1.5rem;
   
}
a{
     text-decoration: none;
}

.btn1{
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
   
}

.card{
    height: 400px;
    width: 350px;
    border: 1px solid black;
    
}