*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div>div{
    width: 300px;
    height:300px;
    background-color: yellow;
    margin: 100px auto;

}

div div:last-child{
    background-color: brown;
}

.child:active{
    background-color: rgb(168, 168, 109);
}

.child:hover{
    border:1px solid red ;
}

