*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    text-align: center;
}

div>div{
    display: inline-block;
    width: 250px;
    height: 300px;
    background-color: #d3df1f;
}

.linear div:nth-of-type(1){
    background: linear-gradient(rgb(12, 12, 186), rgb(164, 55, 73));

}

.linear div:nth-of-type(2){
    background: linear-gradient(red 30%,blue);

}

.linear div:nth-of-type(3){
    background: linear-gradient(120deg, red ,blue,rgb(215, 9, 70));

}


.radial div:nth-of-type(1){
    background:radial-gradient(blue,red,white);

}

.radial div:nth-of-type(1){
    background:radial-gradient( farthest-side,red,rgb(178, 10, 158),rgb(44, 44, 132) 100%);

}

.radial div:nth-of-type(2){
    background:radial-gradient(closest-side,blue,red,white);

}
.conic div:nth-of-type(3){
    background:conic-gradient(blue,red,green ,rgb(177, 27, 52),yellow,blue,brown,yellow,green,blue);

}










