*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgb(2, 2, 105),rgb(99, 11, 26));
}
.container{
    width:70%;
    height:100vh;
    background-color: white;
    margin: 50px auto;

}
 .title h1{
   display: flex;
   justify-content: center;
   text-align: center;
  
}

.first{
    display: flex;
   justify-content: center; 
   gap:20px

}
 .second{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-right: 60px;
 }
 .third{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left:14px;
   
    
 }

 .main{
    margin: 30px;
    padding: 50px;
 }

 .image img{
    margin:10px;
    border-radius: 10px;

    
 }

 .text h3{
     font-size: 1.2rem;
    font-weight: 600; 
    color: #111;
    margin:15px ;
   
     
 }

 .text p{
    margin: 17px;
    padding: 2px;
   
 }