*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box{
    width:300px;
    height: 250px;
    padding: 20px;
    border: 1px solid black;
}

.inner{
    background-color: blue;
    height: 250px;
    border: 1px solid black;
}
.static{
    position: static;
}

.relative.inner{
    position: relative;
    left:30px;
    top:30px
}

.absolute{
    position: relative;
}

.absolute .inner{
    position: absolute;
    width: 100px;
    padding: 20px;
    bottom: 30px;
    right:30px
}
.fixed .inner{
    position: fixed;
    top:20px;
    right:30px;
}