*,
*::after
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:700px;
    height: 600px;
    border: 2px solid black;
    margin: 20px auto;
}

h1{
    /* border: 1px solid black; */
    margin: 30px auto;
    display: flex;
    justify-content: center;

}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    margin: 30px auto;
}

p{
    /* text-align: center; */
    font-size: 20px;
    padding: 10px;
    background: linear-gradient(rgb(5, 5, 82),rgb(84, 3, 16));
    color:white;
    margin: 20px;
    border-radius: 20px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 200px;
    margin: 30px auto;
    /* line-height: 10px; */
    gap:20px;
  
   
    
}

button{
     background: linear-gradient(grey);
     border-radius: 20px;
     height: 200px;
     width: 200px;

}

.buttons :last-child{
    background-color: blue;
    height: 90x;
    width: 100px;
    border-radius: 30px;
    cursor:pointer;
    align-self: flex-end;
    background: linear-gradient(rgb(84, 45, 45));
    color: white;
}

.score{
    display: none;
}