

/* div{
  color:blueviolet;
}

*{
    background-color:rgb(245, 235, 235)
} */

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.grid{
 width: 60vw;
 height: 60vh;
 border: 1px solid burlywood;
 display: grid;
 grid-template-columns: 400px 400px;  
 grid-template-rows: 1fr 1fr 1fr; 
 
  grid-template-columns:50px,200px,100px 
}




.pink{
    background-color: pink;
    grid-column-start:1;
    grid-column-end: 4;
    
}

.red{
    background-color: rgb(214, 29, 29);
    grid-row-start: 2;
    grid-row-end:4;
}

 .blue{
    background-color: blue;
    grid-column-start:2 ;
    grid-column-end: 4;
}

.yellow{
    background-color: yellow;
}


/* .green{
    background-color: green;
}  */

 /* .hotpink{
    background-color: black;
}  */