:root{
   --btn-color:rgb(255, 179, 0);
   --bg-color:rgb(4, 38, 50);
   --default-color:green;
   
}

*{
    box-sizing: border-box;
    background-color: var(--bg-color);
}

.navbar a{
   margin:20px 30px; 
   padding: 10px;
   text-decoration: none;
   font-size: 1.5rem;
   color: rgb(61, 110, 226);
   text-align: center;

}

.navbar{
     display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 15px;
     
}






.Gallery{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap; 
    align-items: flex-end;
    gap: 20px;
}

.card{
      flex:0 0 250px;
      border-radius: 20px;

}

.round-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}


h1{
    color: rgb(239, 233, 231);
    text-align: center;
}

p{
    color: rgb(199, 118, 166);
    text-align: center;
    font-size: 20px;

}